{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> Dalalbull Channel </title>
	<script type="text/javascript" src="{% static 'channels_test/jquery-1.12.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'channels_test/reconnecting-websocket.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'channels_test/connect_to_channels.js' %}"></script>

	<style type="text/css">
		div{
			margin: 30px;
		}
		th,td,tr{
			border: 1px solid black;
		}
	</style>
</head>

<body>

	<div style="display:flex;">

	<div>
		
		<h1> Nifty data </h1>

		<h2 id="nifty-count"> </h2>
		<div id="nifty-data">

		</div>
	</div>


	<div>
		
		<h1> Leaderboard data </h1>

		<h2 id="leaderboard-count"> </h2>

		<table>
		<thead>
			<tr> <th> User id </th> <th> Name </th> <th> Networth </th></tr>
		</thead>
		<tbody id="leaderboard-data">

		</tbody>
		</table>
	</div>


	</div>

	<hr>

	<div style="display:flex;">

	<div>
		
		<h1> Graph data </h1>
		<h2 id="graph-count"> </h2>
		<div id="graph-data">

		</div>


	
	
		<select id="company">
			<option value="NIFTY 50" > NIFTY 50 </option>
			<option value="INFY" > INFY </option>
			<option value="TCS" > TCS </option>
		</select>
		<button id="submit"> send </button> 
	
	</div>


	<div>
		
		<h1> Portfolio </h1>
		<h2 id="portfolio-count"> </h2>
		<div id="portfolio-data">

		</div>
	
	</div>


	</div>

</body>
</html>