{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="shortcut icon" href="{% static 'images/title.png' %}" type="image/png">
  <title>Dashboard | Dalalbull</title>

  <!-- CSS  -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href='../../static/css/style.css' type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour-standalone.min.css"rel="stylesheet">

  <!--<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>-->


       
</head>
<body style="background-color:#E5c9b5" onload="isLoggedin()"><!--red lighten-5">-->
<!--"grey lighten-3"-->
<header>

  
   <!--   

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse side-nav full hide-on-large-only">
  <i class="mdi-navigation-menu"></i></a></div>
-->

<ul id="slide-out" class="side-nav fixed colorcode  ">
  <ul>
  <div class="card no-margin">
            <div class="card-image" style="background:#fff;height:150px;"> <!--F44336-->
                <img src="{% static 'images/logo.png' %}" style="transform:scale(1.5);">
              <!--<span class="card-title">DalalBull</span>-->
            </div>
            
           
          </div>
  </ul>

  <ul class="no-padding" style="margin-top:5px">  
  <li  class="bold title no-padding " style="background-color: #B31010;"><a class="waves-effect waves-teal sidenava white-text " href="#!"><img class="tintu circle" src="{% static 'images/dashboard-white.svg' %}"> Dashboard</a></li>
  <li  class="bold no-padding"><a class="waves-effect waves-teal sidenava" href="../stockinfo"><img class="tintu circle" src="{% static 'images/pin.svg' %}">Stock Information</a></li>
  <li  class="bold no-padding"><a class="waves-effect waves-teal sidenava" href="../buy"><img class="tintu circle" src="{% static 'images/cart.svg' %}">Buy/Short Sell </a></li>
  <li  class="bold no-padding"><a class="waves-effect waves-teal sidenava" href="../sell"><img class="tintu circle" src="{% static 'images/dollar.svg' %}">Sell/Short Cover</a></li>
  <li  class="bold no-padding" ><a class="waves-effect waves-teal sidenava " href="../pending"><img class="tintu circle" src="{% static 'images/086__empty.svg' %}">Pending Orders</a></li>
  <li  class="bold no-padding"><a class="waves-effect waves-teal sidenava" href="../history"><img class="tintu circle" src="{% static 'images/briefcase.svg' %}">Transaction History</a></li>
  <li  class="bold no-padding"><a class="waves-effect waves-teal sidenava" href="../faq"><img class="tintu circle" src="{% static 'images/help.svg' %}">Help</a></li>
  </ul>
   <ul>
          <div class="card no-margin">
            <p style="font-weight:300;">sponsored by:</p>
            <div class="card-image" style="background:#fff;margin-top:2px"> <!--F44336-->
              <a target="_blank" href="http://www.geojitbnpparibas.com" >  <img src="../static/images/sponsor.jpg" style="height:70px;transform:scale(0.7)"></a>
              <!--<span class="card-title">DalalBull</span>-->
            </div>
            
           
          </div>
  </ul>
  </ul> 
  <!--
  <ul id="nav-mobile" class="side-nav fixed" style="width:240px;">

  </ul>
-->


<nav class="top-nav colorcodetop"> <!--style="background:#D32F2F" -->
        
          <div class="nav-wrapper ">

            <a href="#" data-activates="slide-out " class="button-collapse "><i class="mdi-navigation-menu"></i></a>
            <a class="brand-logo lulu"><img src="{% static 'images/dashboard-white.svg' %}" class="tintu-header"><span class="nav-title_g ">Dashboard</span></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down ">
            <li class=""><a href="#!" class=" disableClick"><img style="height:40px;width:40px;"src="https://graph.facebook.com/{{user_id}}/picture?redirect=true&height=32&width=32" class="circle propic"><span style="margin-left:17px;">{{username}}</span></a></li>
            <li class="nameboard" id="tutrest"><a href="#" data-activates='dropdown2' class="dropdown-button" style="padding:0"><i class="material-icons ">arrow_drop_down</i></a></li>
           <!--<li><a href="#!" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout"><i class="material-icons">input</i></a></li>-->
            </ul>

            <ul id="menu_but"class="right hide-on-large-only valign-wrapper"  >
             
             <li  class="valign " id="tutrest2"><a href="#" data-activates='dropdown1' class="dropdown-button"><i class="material-icons ">more_vert</i></a></li>
            </ul>


            <ul id='dropdown1' class='dropdown-content orange-text'>
              <li><a href="#!" class="orange-text  sishu">Tutorial</a></li>
              <li><a href="#!" onclick="logout()" class="orange-text">Logout</a></li>
           </ul>
           <ul id='dropdown2' class='dropdown-content orange-text'>
              <li><a href="#!" class="orange-text sishu">Tutorial</a></li>
              <li><a href="#!" onclick="logout()" class="orange-text ">Logout</a></li>
           </ul>

       </div>

      </nav>


</header>

<main>
<canvas id="trian" style="z-index:-1"></canvas>





    <div class="row" id="firstrow">
        <div class="col s12 m3" id="networth">
          <div class="card  stylemon " style="background-color:#DA431F">
            <div class="row secondrow">
            <div class="col s3 m5" style="padding:3% 0px 0% 6%">
            <img src="{% static 'images/card1.svg' %}" class="styleraja">
            </div>
            <div class="col s8 m7" style="padding:10px"> 
            <span class="stylefather1 center" >NET WORTH</span>
            <span class="stylefather2 center" id="h_net_worth">₹{{net_worth}}</span>
            </div>
            </div>
            <div class="row hide-on-small-only" style="padding:10px;margin-bottom:0;">
            <div class="col s6" >
            <span class="left secondlinecard" >Cash Balance</span>
            <span class="left" id="h_cash_bal">₹{{cash_bal}}  </span>  
            </div>
             <div class="col s6">
            <span class="right secondlinecard" >Cash Available
            </span>
            <span class="right" id="h_cash_avail">₹{{cash_avail}} </span>  
            </div>
            </div>
             <div class="row hide-on-med-and-up" style="padding:0px 8px;margin-top:2px;">
            <div class="col s4 ">
            <span class="secondlinecardsmall" style="font-size:0.85em">CASH BALANCE</span>
            <span class="left" id="h_cash_balmob">₹{{cash_bal}}</span>  
            </div>
             <div class="col s4" style="">
            <span class="right secondlinecardsmall" style="font-size:0.85em">CASH AVAILABLE</span>
            <span class="right" id="h_cash_availmob">₹{{cash_avail}}</span>  
            </div>
            </div>
          </div>
        </div>

        
        <div class="col s12 m3">
          <div class="card  stylemon " style="background-color:#F95934">
            <div class="row secondrow">
            <div class="col s3 m5" style="padding:3% 0px 0% 6%">
            <img src="{% static 'images/card2.svg' %}" class="styleraja">
            </div>
            <div class="col s8 m7" style="padding:10px"> 
            <span class="stylefather1 center">RANK</span>
            <span class="stylefather2 center" id="h_rank">#{{rank}}</span>
            </div>
            </div>
            <div class="row hide-on-small-only" style="padding:10px;margin-bottom:0;">
            <div class="col s12 center" >
            <span class="secondlinecard" >Total No of Players</span>
            <span class="" id="h_total"><br>{{total_no}}</span>  
            </div>
             </div>
             <div class="row hide-on-med-and-up" style="padding:10px;margin-top:9px;">
            <div class="col s12 offset-s3">
            <span class="secondlinecardsmall center" >Total No of Players</span>
            <span class="center" id="h_totalmob"><br>{{total_no}} </span>  
            </div>
           </div>
          </div>
        </div>
        
        <div class="col s12 m3" id="margin">
          <div class="card  stylemon " style="background-color:#EF201F">
            <div class="row secondrow">
            <div class="col s3 m5" style="padding:3% 0px 0% 6%">
            <img src="{% static 'images/card3.svg' %}" class="styleraja">
            </div>
            <div class="col s8 m7" style="padding:10px"> 
            <span class="stylefather1 center">MARGIN</span>
            <span class="stylefather2 center" >₹{{margin}}</span>
            </div>
            </div>
            <div class="row hide-on-small-only" style="padding:10px;margin-bottom:0;">
            <div class="col s12 center" >
            <span class="secondlinecard" >Total No of Transactions</span>
            <span class=""><br>{{transactions}}</span>  
            </div>
             </div>
             <div class="row hide-on-med-and-up" style="padding:10px;margin-top:9px;">
            <div class="col s12 offset-s3">
            <span class="secondlinecardsmall center" >Total No of Transactions</span>
            <span class="center"><br>{{transactions}}</span>  
            </div>
           </div>
          </div>
        </div>
        
        <div class="col s12 m3">
          <div class="card  stylemon " style="background-color:#DF5B23">
            <div class="row secondrow">
            <div class="col s3 m5" style="padding:3% 0px 0% 6%">
            <img src="{% static 'images/card4.svg' %}" class="styleraja">
            </div>
            <div class="col s8 m7" style="padding:10px"> 
            <span class="stylefather1 center">NIFTY</span>
            <span class="stylefather2 center" id="h_nifty">{{nifty}}</span>
            </div>
            </div>
            <div class="row hide-on-small-only" style="padding:10px;margin-bottom:0;">
            <div class="col s12 center" >
            <span class="secondlinecard" >Change</span>
            <span class="" id="h_chg"><br>{{change}}</span>  
            </div>
             </div>
             <div class="row hide-on-med-and-up" style="padding:10px;margin-top:9px;">
            <div class="col s12 offset-s3">
            <span class="secondlinecardsmall center" >Change</span>
            <span class="center" id="h_chg_mob"><br>{{change}}</span>  
            </div>
           </div>
          </div>
        </div>
     </div>


  <!--<div class="section no-pad-bot" id="index-banner">-->
   
   <div class="row">
    <div class="col s12 m8 hide-on-small-only">
    <div class="card graphheader">
      Graph
    </div>
   
              <div id="curve_chart" class="white"style="width:100%;height:100%;">  

       

    <div class="card  small no-margin valign-wrapper" id="graphloader">
          
              <!--<span class="card-title">Graph</span>
              <p>Nifty-Graph</p>-->


              
      
              


    <div class="preloader-wrapper big active valign" style="margin:auto" id="preloader" >
     <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
</div>



 </div>
 </div>
</div>
            
      
      

      
      <div class = "col s12 m4">
      <div class="card-panel leaderboardcard valign-wrapper " style="margin-bottom:0" >
            <div class="black-text ">
              <span class="valign">Leaderboard</span>
           </div>
            
          </div>
      </div>
              <div class="col s12 m4" id="Leaders">

      
    <div class="card collectionedit colorcode1 mix " id="h_rank4" data-myorder="4" >
     
     <div class="row no-margin" style="width:75%;display:inline-block;">
        <div class="col s2">
            <img src="https://graph.facebook.com/{{leaderboard.3.user_id}}/picture?redirect=true&height=32&width=32" alt="" class="circle lbimg ">   
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
            <span id="h_rank_name4">{{leaderboard.3.name}}</span>
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
             <span class="lbnetworth" id="h_net4">₹{{leaderboard.3.net_worth}}</span>
        </div>
     </div>
     <img src="{% static 'images/medal1.svg' %}" class="tintu-lb" id="g_medal1">
    </div>

    <div class="card collectionedit colorcode1 mix" id="h_rank3" data-myorder="3">
      <div class="row no-margin" style="width:75%;display:inline-block;">
        <div class="col s2">
            <img src="https://graph.facebook.com/{{leaderboard.2.user_id}}/picture?redirect=true&height=32&width=32" alt="" class="circle lbimg ">   
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
            <span id="h_rank_name3">{{leaderboard.2.name}}</span>
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
             <span class="lbnetworth" id="h_net3">₹{{leaderboard.2.net_worth}}</span>
        </div>
     </div>
     <img src="{% static 'images/medal2.svg' %}" class="tintu-lb" id="g_medal2">
    </div>


    <div class="card collectionedit colorcode1 mix" id="h_rank1" data-myorder="1" >
     <div class="row no-margin" style="width:75%;display:inline-block;">
        <div class="col s2">
            <img src="https://graph.facebook.com/{{leaderboard.0.user_id}}/picture?redirect=true&height=32&width=32" alt="" class="circle lbimg ">   
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
            <span id="h_rank_name1">{{leaderboard.0.name}}</span>
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
             <span class="lbnetworth" id="h_net1">₹{{leaderboard.0.net_worth}}</span>
        </div>
     </div>
     <img src="{% static 'images/medal3.svg' %}" class="tintu-lb" id="g_medal3">
    </div>


    <div class="card collectionedit colorcode1 mix" id="h_rank2" data-myorder="2">
      <div class="row no-margin" style="width:75%;display:inline-block;">
        <div class="col s2">
            <img src="https://graph.facebook.com/{{leaderboard.1.user_id}}/picture?redirect=true&height=32&width=32" alt="" class="circle lbimg ">   
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
            <span id="h_rank_name2">{{leaderboard.1.name}}</span>
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
             <span class="lbnetworth" id="h_net2">₹{{leaderboard.1.net_worth}}</span>
        </div>
     </div>
     
     <img src="{% static 'images/medal4.svg' %}" class="tintu-lb" id="g_medal4">
    </div>


    <div class="card collectionedit colorcode1 mix" id="h_rank5" data-myorder="5">
      <div class="row no-margin" style="width:75%;display:inline-block;">
        <div class="col s2">
            <img src="https://graph.facebook.com/{{leaderboard.4.user_id}}/picture?redirect=true&height=32&width=32" alt="" class="circle lbimg ">   
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
            <span id="h_rank_name5">{{leaderboard.4.name}}</span>
        </div>
        <div class="col s6 " style="overflow:hidden;height:20px">
             <span class="lbnetworth" id="h_net5">₹{{leaderboard.4.net_worth}}</span>
        </div>
     </div>
     <img src="{% static 'images/medal5.svg' %}" class="tintu-lb" id="g_medal5">
    </div>



 <button class="sort" id="harryscloak" data-sort="myorder:asc" style="display:none">Asc</button>

      </div>
         



</div>


<div class="row">
<div class="col s12  ">
<div class="card stockholding valign-wrapper no-margin " id="stockhold">
 <span class="valign">Stockholdings</span>
  </div>
</div>

<div class="col s12 ">
<div class="card no-margin" >
  


{% if stockexist %}
 <table class="centered responsive-table" >
        <thead>
          <tr>
              <th data-field="id">Company</th>
              <th data-field="number">No. of Shares</th>
              <th data-field="name">Type of Share</th>
              <th data-field="price">Purchase Price (₹)</th>
              <th data-field="price">Current Price (₹)</th>

          </tr>
        </thead>

        <tbody>
        {% for i in stockholdings %}
          <tr>
            <td>{{i.company}}</td><td>{{i.number}}</td><td>{{i.type}}</td><td>{{i.purchase}}</td><td>{{i.current}}</td>
          </tr>
        {% endfor%}
        </tbody>
      </table>
{% else %}
    <center><strong>You Have No Stock Holdings </strong></center>
{% endif %}



  
</div>

</div>
  
</div>








    <div class="row">
      <div class="col s6 m3" id="topgainers">
        <div class="card stockholding valign-wrapper no-margin " >
        <span class="valign">Top Gainers</span>
        </div>
        <div class="card stylemon1 black-text" style="background-color:#fff">

           <table class="striped centered">
        <thead>
          <tr>
              <th data-field="Company">Name</th>
              <th data-field="number">%Change</th>
              
          </tr>
        </thead>

        <tbody>
          <tr><td>{{topGainers.0.symbol}}</td><td>{{topGainers.0.change_per}}</td></tr>
          <tr><td>{{topGainers.1.symbol}}</td><td>{{topGainers.1.change_per}}</td></tr>
          <tr><td>{{topGainers.2.symbol}}</td><td>{{topGainers.2.change_per}}</td></tr>
          <tr><td>{{topGainers.3.symbol}}</td><td>{{topGainers.3.change_per}}</td></tr>
          <tr><td>{{topGainers.4.symbol}}</td><td>{{topGainers.4.change_per}}</td></tr>
        </tbody>
      </table>
    </div>
   </div>
        
        <div class="col s6 m3" id="toplosers">
        <div class="card stockholding valign-wrapper no-margin " >
        <span class="valign">Top Losers</span>
        </div>
        <div class="card stylemon1 black-text" style="background-color:#fff">

           <table class="striped centered">
        <thead>
          <tr>
              <th data-field="Company">Name</th>
              <th data-field="number">%Change</th>
              
          </tr>
        </thead>

        <tbody>
          <tr><td>{{topLosers.0.symbol}}</td><td>{{topLosers.0.change_per}}</td></tr>
          <tr><td>{{topLosers.1.symbol}}</td><td>{{topLosers.1.change_per}}</td></tr>
          <tr><td>{{topLosers.2.symbol}}</td><td>{{topLosers.2.change_per}}</td></tr>
          <tr><td>{{topLosers.3.symbol}}</td><td>{{topLosers.3.change_per}}</td></tr>
          <tr><td>{{topLosers.4.symbol}}</td><td>{{topLosers.4.change_per}}</td></tr>
        </tbody>
      </table>
    </div>
   </div>


<div class="col s6 m3" id="mostActive">
        <div class="card stockholding valign-wrapper no-margin ">
        <span  class="valign">Most Active </span><span class="valign undertt">(Qty)</span>
        </div>
        <div class="card stylemon1 black-text" style="background-color:#fff">

           <table class="striped centered">
        <thead>
          <tr>
              <th data-field="Company">Name</th>
              <th data-field="number">Volume (lacs)</th>
              
          </tr>
        </thead>

        <tbody>
          <tr><td>{{mostActiveVol.0.symbol}}</td><td>{{mostActiveVol.0.trade_Qty}}</td></tr>
          <tr><td>{{mostActiveVol.1.symbol}}</td><td>{{mostActiveVol.1.trade_Qty}}</td></tr>
          <tr><td>{{mostActiveVol.2.symbol}}</td><td>{{mostActiveVol.2.trade_Qty}}</td></tr>
          <tr><td>{{mostActiveVol.3.symbol}}</td><td>{{mostActiveVol.3.trade_Qty}}</td></tr>
          <tr><td>{{mostActiveVol.4.symbol}}</td><td>{{mostActiveVol.4.trade_Qty}}</td></tr>
        </tbody>
      </table>
    </div>
   </div>   
        <div class="col s6 m3" id="mostActiveVal">
        <div class="card stockholding valign-wrapper no-margin ">
        <span  class="valign">Most Active</span><span class="valign undertt"> (Value)</span>
        </div>
        <div class="card stylemon1 black-text" style="background-color:#fff">

           <table class="striped centered">
        <thead>
          <tr>
              <th data-field="Company">Name</th>
              <th data-field="number">Value (Crs)</th>
              
          </tr>
        </thead>

        <tbody>
          <tr><td>{{mostActiveVal.0.symbol}}</td><td>{{mostActiveVal.0.trade_Value}}</td></tr>
          <tr><td>{{mostActiveVal.1.symbol}}</td><td>{{mostActiveVal.1.trade_Value}}</td></tr>
          <tr><td>{{mostActiveVal.2.symbol}}</td><td>{{mostActiveVal.2.trade_Value}}</td></tr>
          <tr><td>{{mostActiveVal.3.symbol}}</td><td>{{mostActiveVal.3.trade_Value}}</td></tr>
          <tr><td>{{mostActiveVal.4.symbol}}</td><td>{{mostActiveVal.4.trade_Value}}</td></tr>
        </tbody>
      </table>
    </div>
   </div>
  </main>

  <footer class="page-footer colorcode2"style="padding-top:0px!important;">

     <div class="ticku" class="valign-wrapper"style="height: 30px; line-height: 30px; overflow: hidden;">
     <div id='dvStockTicker' class='stockTicker valign'>
      </div>
    </div>




    
    <!--<div class="footer-copyright " >
    <span style="margin 0 auto;">Copyright EXCEL 2k15</span>
    </div>-->
     
  </footer>


  <!--  Scripts-->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

  <!--<script src="js/TweenMax.min.js"></script>-->

  <script src="{% static 'js/init.js' %}"></script>

<!-- nicescroll-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.0/jquery.nicescroll.js"></script>>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript">var jq=$.noConflict(true);</script> 
<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour-standalone.min.js"></script>
<script src="{% static 'js/facebook.js' %}"></script>
<script src="http://localhost:8000/socket.io/socket.io.js"></script>
<script src="{% static 'js/leaderboard.js' %}"></script>
<script type="text/javascript">user_id='{{user_id}}'</script>
<script type="text/javascript" src="{% static 'js/portfolio.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.0/trianglify.min.js"></script>
<script>
    var pattern = Trianglify(
    {
       // width: window.innerWidth,
       // height: window.innerHeight
       variance:0.7,
       cell_size: 35,
       x_colors: 'YlOrRd',
       y_colors: 'match_x',
    });
  pattern.canvas(document.getElementById('trian'));
//    document.body.appendChild()
</script>     
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66440025-1', 'auto');
  ga('send', 'pageview');

  </script>

  </body>
</html>
